/* UX v3 - Button Group */

@layer components {

  /* =============================================
     Horizontal button group
     ============================================= */

  .btn-group {
    @apply inline-flex;

    & > .btn {
      @apply rounded-none;
    }

    & > .btn:first-child {
      border-radius: var(--radius-field) 0 0 var(--radius-field);
    }

    & > .btn:last-child {
      border-radius: 0 var(--radius-field) var(--radius-field) 0;
    }

    & > .btn:not(:first-child) {
      margin-left: calc(var(--border) * -1);
    }

    & > .btn:hover,
    & > .btn:focus-visible {
      @apply z-1;
    }
  }

  /* =============================================
     Vertical button group
     ============================================= */

  .btn-group-vertical {
    @apply inline-flex flex-col;

    & > .btn {
      @apply rounded-none;
    }

    & > .btn:first-child {
      border-radius: var(--radius-field) var(--radius-field) 0 0;
    }

    & > .btn:last-child {
      border-radius: 0 0 var(--radius-field) var(--radius-field);
    }

    & > .btn:not(:first-child) {
      margin-top: calc(var(--border) * -1);
    }

    & > .btn:hover,
    & > .btn:focus-visible {
      @apply z-1;
    }
  }
}
