{# range(name, value, min, max, step, value_signal, disabled, attrs)

   Native range slider styled by `.ux-range` in lib/css/components/forms.css.
   `value_signal` -> Datastar `data-bind="$signal"` two-way binding.
#}
{% macro range(name, value=None, min=0, max=100, step=1, value_signal=None, disabled=False, attrs={}) %}
<input class="ux-range"
  type="range"
  name="{{ name|e }}"
  min="{{ min }}"
  max="{{ max }}"
  step="{{ step }}"
{%- if value is not none %} value="{{ value }}"{% endif -%}
{%- if disabled %} disabled{% endif -%}
{%- if value_signal %} data-bind="{{ value_signal|e }}"{% endif -%}
{%- for k, v in attrs.items() %} {{ k }}="{{ v|e }}"{% endfor -%}/>
{% endmacro %}
